<div class="container-1">
  <div class="box-1">
    <h3>Box one</h3>
    <p>Lorem 1 gh hg hhgfhg hgfhfhf hgfhfhgf gfhgfhgf</p>
  </div>
  <div class="box-2">
    <h3>Box two</h3>
    <p>Lorem 2 hgghfhg ghfhgf ghfhg hgfhg hgfh ghfgh hgfhg </p>
  </div>
  <div class="box-3">
    <h3>Box three</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
</div>

<div class="container-2">
  <div class="container-2-box">
    <h3>Box four</h3>
    <p>Lorem 1 gh hg hhgfhg hgfhfhf hgfhfhgf gfhgfhgf</p>
  </div>
  <div class="container-2-box">
    <h3>Box five</h3>
    <p>Lorem 2 hgghfhg ghfhgf ghfhg hgfhg hgfh ghfgh hgfhg </p>
  </div>
  <div class="container-2-box">
    <h3>Box six</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
</div>

<div class="container-3">
  <div class="container-3-box">
    <h3>Box seven</h3>
    <p>Lorem 1 gh hg hhgfhg hgfhfhf hgfhfhgf gfhgfhgf</p>
  </div>
  <div class="container-3-box">
    <h3>Box eight</h3>
    <p>Lorem 2 hgghfhg ghfhgf ghfhg hgfhg hgfh ghfgh hgfhg </p>
  </div>
  <div class="container-3-box">
    <h3>Box nine</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
  <div class="container-3-box">
    <h3>Box ten</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
  <div class="container-3-box">
    <h3>Box eleven</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
  <div class="container-3-box">
    <h3>Box twelve</h3>
    <p>Lorem 3 ug yfy uygyfty ftfgh fghgfgh gfghf ghfgf ghfhgf ghfhgf</p>
  </div>
</div>
